body::before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}
/* Светлая тема */

body.light {
	.leftMenu__wrapper {
		background: #fff;
	}
	.name,
	.stack {
		color: #262626;
	}
}

body.light::before {
	background-color: #fff;
	color: #0a0a0a;
}

/* Темная тема  (по умолчанию) */
body.dark::before {
	background-color: #0d0d0d;
	color: #fff;
}

body.dark {
	.leftMenu__wrapper {
		background: #0a0a0a;

		.name,
		.stack {
			color: #fff;
		}
	}
}
/* Плавный переход между темами */
body::before,
.smooth {
	transition: all 0.3s;
}
