// Определяем CSS-переменные для тем
:root {
	//! Темная тема  (по умолчанию)
	--bg-primary: #0d0d0d; // цвет фона объектов
	--bg-secondary: #0a0a0a; // цвет фона сайта
	--text-menu: rgba(255, 255, 255, 0.25); // цвет меню не актив
	--text-title: #fff; // цвет заголовков
	--text-menu-active: #fff; // цвет меню актив
	--text-primary: #fff; // цвет осн текста
	--text-secondary: rgba(255, 255, 255, 0.25); // цвет полупрозрачного текста
	--border-color: linear-gradient(
		90deg,
		#2e2e2e 0%,
		rgba(30, 30, 30, 0.2) 50%,
		#2e2e2e 100%
	); // бордеры пункта главного меню

	--bg-menu-a: #1a1a1a; // цвет фона ссылки

	// кнопка переключения темы
	--btn-border-color: #2e2e2e; // цвет бордера кнопок
	--bg-btn-theme: #191919; // фон кнопки свичера

	// btn меню Связаться
	--bg-btn-menu: linear-gradient(180deg, #131313 0%, #212121 100%);
	--btn-menu-text: rgba(255, 255, 255, 0.25); // цвет текста кнопки

	// btn HOME
	--bg-btn-menu_light: linear-gradient(180deg, #fff 0%, #a6a6a6 100%);

	//* Главная
	--bg-banner: radial-gradient(
		circle,
		rgba(40, 40, 40, 1) 0%,
		rgba(17, 17, 17, 1) 58%
	); // фон главного баннера

	--border-cards: #1e1e1e; // бордер карточек осн
	--text-decor: #9f9f9f; // code на главной

	// Cards
	--bg-cards: linear-gradient(
		151deg,
		rgb(120, 120, 120) -52%,
		rgb(17, 17, 17) 19%,
		rgb(10, 10, 10) 100%
	); // bg cards

	// scale
	--scale__bg: rgba(255, 255, 255, 0.25);
	--scale__active: #d9d9d9;

	// other
	--bg-svg-steck: #282828;
}

//! Светлая тема
body.light {
	--bg-primary: #fff; // цвет фона объектов
	--bg-secondary: #fff; // цвет фона сайта
	--text-menu: #8c8c8c; // цвет меню не актив
	--text-title: #262626; // цвет заголовков
	--text-menu-active: #262626; // цвет меню актив
	--text-primary: #262626; // цвет осн текста
	--text-secondary: rgba(0, 0, 0, 0.3); // цвет полупрозрачного текста
	--border-color: linear-gradient(
		90deg,
		#dedede 0%,
		rgb(255 255 255 / 20%) 50%,
		#dedede 100%
	); // бордеры пункта главного меню

	--bg-menu-a: #f0f0f0; // цвет фона ссылки

	// кнопка переключения темы
	--btn-border-color: #dedede; // цвет бордера кнопок
	--bg-btn-theme: #fff; // фон кнопки свичера

	// btn меню Связаться
	--bg-btn-menu: linear-gradient(180deg, #fff 0%, #e3e3e3 100%);
	--btn-menu-text: rgba(0, 0, 0, 0.5); // цвет текста кнопки

	// btn HOME
	--bg-btn-menu_light: linear-gradient(180deg, #3d3d3d 0%, #000 100%);

	//* Главная
	--bg-banner: radial-gradient(
		circle,
		rgb(230, 230, 230) 0%,
		rgba(247, 247, 247, 1) 58%
	); // фон главного баннера

	--border-cards: #ddd; // бордер карточек осн
	--text-decor: #9f9f9f; // code на главной

	// Cards
	--bg-cards: linear-gradient(
		151deg,
		rgb(255, 255, 255) -52%,
		#ffffff 19%,
		#fff 100%
	); // bg cards

	// scale
	--scale__bg: rgba(0, 0, 0, 0.15);
	--scale__active: rgba(0, 0, 0, 0.5);

	// other
	--bg-svg-steck: #e5e5e5;
}

//! Темная тема (явно)
body.dark {
	--bg-primary: #0d0d0d; // цвет фона объектов
	--bg-secondary: #0a0a0a; // цвет фона сайта
	--text-menu: rgba(255, 255, 255, 0.25); // цвет меню не актив
	--text-title: #fff; // цвет заголовков
	--text-menu-active: #fff; // цвет меню актив
	--text-primary: #fff; // цвет осн текста
	--text-secondary: rgba(255, 255, 255, 0.25); // цвет полупрозрачного текста
	--border-color: linear-gradient(
		90deg,
		#2e2e2e 0%,
		rgba(30, 30, 30, 0.2) 50%,
		#2e2e2e 100%
	); // бордеры пункта главного меню

	--bg-menu-a: #1a1a1a; // цвет фона ссылки

	// кнопка переключения темы
	--btn-border-color: #2e2e2e; // цвет бордера кнопок
	--bg-btn-theme: #191919; // фон кнопки свичера

	// btn меню Связаться
	--bg-btn-menu: linear-gradient(180deg, #131313 0%, #212121 100%);
	--btn-menu-text: rgba(255, 255, 255, 0.25); // цвет текста кнопки

	// btn HOME
	--bg-btn-menu_light: linear-gradient(180deg, #fff 0%, #a6a6a6 100%);

	//* Главная
	--bg-banner: radial-gradient(
		circle,
		rgba(40, 40, 40, 1) 0%,
		rgba(17, 17, 17, 1) 58%
	); // фон главного баннера

	--border-cards: #1e1e1e; // бордер карточек осн
	--text-decor: #9f9f9f; // code на главной

	// Cards
	--bg-cards: linear-gradient(
		151deg,
		rgb(120, 120, 120) -52%,
		rgb(17, 17, 17) 19%,
		rgb(10, 10, 10) 100%
	); // bg cards

	// scale
	--scale__bg: rgba(255, 255, 255, 0.25);
	--scale__active: #d9d9d9;

	// other
	--bg-svg-steck: #282828;
}
