.card {
	border-radius: 18px;
	padding: 30px;

	background: var(--bg-cards);

	box-shadow: rgba(184, 180, 180, 0.08) 0 2px 0 inset;
	border: 0.5px solid var(--border-cards);
	/* height: fit-content; */
	min-height: 200px;

	.title {
		margin-bottom: 30px;
	}
}
